<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.38:3306/gatekeeper_db</property>
        <property name="hibernate.connection.username">rewoly</property>
        <property name="hibernate.connection.password">Marshmellow89</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Admin"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Operator"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Bureau"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Main"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Server"/>
    </session-factory>
</hibernate-configuration>