<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gatekeeper_db</property>
        <property name="hibernate.connection.username">rewoly</property>
        <property name="hibernate.connection.password">Marshmellow89</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Admins"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Operators"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Bureau"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Main"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Server"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Computer"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Users"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.GlobalAccessLevels"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Cards"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.CardLayouts"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Positions"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Organizations"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Perco"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.PercoC01"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.CardReader"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.Console"/>
       <!-- <mapping class="com.alrosa.staa.getekeeper_server.db.ManUser"/>
        <mapping class="com.alrosa.staa.gatekeeper_server.db.WomanUser"/> -->
    </session-factory>
</hibernate-configuration>